
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

.logo {
    font-size: 112px;
}

.form-control{
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.container h1, .container span{
  font-family:"Pt Sans", helvetica, sans-serif;
}

.container h1 {
    font-weight:900;
}

.top-buffer { 
    margin-top: 40px; 
}

.bottom-buffer { 
    margin-bottom: 40px; 
}

.border-4 {
           border-width: 1px;
           border-style: solid;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}